[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
sysinfo.txt
*.stacktrace
*.log
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.idea/
*.sln.iml
Assets/AssetStoreTools*
Assets/AddressableAssetsData/
Assets/StreamingAssets/aa.meta
Assets/PlayMaker/Editor/PlayMakerEditor.asset
Assets/YarnSpinner/DebugInfo/
.plastic/
.collabignore